/* MAIN STYLES */
body {
  font-family: 'Shadows Into Light', cursive;
  background-color: #1E8BC3;
  color: white;
}

h1 {
  font-size: 84px;
  padding-left: 200px;
}
h2 {
  font-size: 42px;
}
p {
  font-size: 24px;
}

/* EX-CARD STYLES */
.thumbnail {
  height: 600px;
  width: 500px;
  margin: 0 auto;
}

.ex-pic {
  max-width: 270px;
  max-height: 270px;
  margin: 10px;
  border: solid white;
}

.ex {
  margin: auto;
  width: 65%;
  background-color: #222;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.ex-deets {
  text-align: left;
}

/* FILTER BY TIME STYLES */
.btn {
  margin-bottom: 30px;
  padding: 12px 20px 12px 20px;
  font-size: 20px;
  border-radius: 10px;
}

/* SEARCH BAR STYLES*/
.form-control {
  font-size: 18px;
}

/* LOCATION CARD STYLES */
#location-cards {
  padding-left: 60px;
  padding-top: 20px;
}

.col-sm-4 {
  padding: 0;
}
.panel {
  background-color: whitesmoke;
}

.location {
  margin: 10px;
  width: 370px;
  height: 370px;
  padding: 10px;
  color: black;
}

.location-photo {
  width: 275px;
  height: 200px;
  margin: 3px;
}

.singleLocation {
  margin: 10px;
  width: 370px;
  height: 370px;
  padding: 10px;
  color: black;
}

.panel-footer {
  background-color: #222;
  color:white;
  padding: 15px;
  font-size: 24px;
}